@import "vars";

body {
    background: linear-gradient(90deg, rgba(196, 137, 19, 1) 0%, rgba(128, 20, 210, 1) 100%);
    margin: 0;
    font-family: "calibri";
}

.strong {
    font-family: "calibri-bold";
}

#logo img {
    height: 90px;
    width: 180px;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $violet;
    padding-right: 25px;
    padding-left: 50px;
    font-size: large;
    height: 90px;
}

.navliens {
    display: flex;
    list-style-type: none;
    padding: 25px 10px 10px 10px;
    font-size: 20px;
}

.liens,
#retouracceuil {
    text-decoration: none;
    margin-left: 60px;
    color: white;
}

.liens:hover {
    color: $orange;
    cursor: pointer;
}

h1 {
    border: 1px transparent solid;
    color: $blanc;
    text-align: center;
    margin-top: 20px;
    width: fit-content;
    margin: auto;
    padding: 5px 15px 5px 15px;
    border-radius: 0 0 30px 30px;
    background-color: $violet;
}

h2 {
    text-align: center;
    font-family: "calibri-bold";
}

h3 {
    font-family: "calibri-bold";
    color: $violet;
    text-align: center;
    border-bottom: $border2r;
    padding-bottom: 19px;
    border-radius: 20px;
    font-size: 20px;
}

h5 {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 50px;
}

#cameras {
    margin-top: 40px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.carte {
    display: flex;
    flex-direction: column;
    border: $border2r;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: $gris;
}

.voirprod {
    color: white;
    text-align: center;
    justify-content: center;
    box-shadow: $box-shadow-v;
    background-color: $rose;
    border-radius: 30px;
    width: 140px;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    padding-top: 7px;
}

.voirprod:hover {
    background-color: $violet;
    box-shadow: $box-shadow-r;
}

.image {
    height: auto;
    max-width: 100%;
    width: 350px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.carte-p {
    margin-top: 10px;
    text-align: center;
    color: $noir;
    font-size: 18px;
}

.carte-strong {
    text-align: center;
    font-size: 22px;
    font-family: "calibri-bold";
    color: $violet;
}

.carte a {
    text-decoration: none;
}

footer {
    display: flex;
    margin-top: 30px;
    height: 40px;
    background-color: $violet;
    padding-bottom: 18px;
}

footer ul {
    list-style-type: none;
    padding-top: 5px;
    padding-right: 50px;
    text-align: center;
}

footer a {
    color: $blanc;
    text-decoration: none;
    font-size: 20px;
}

footer :hover a {
    text-decoration: none;
    color: $orange;
}

/****** PAGE DETAILS PRODUIT ******/

#produit {
    display: flex;
    justify-content: center;
}

.cartedesc {
    border: $border2r;
    margin-top: 100px;
    margin-bottom: 119px;
    background-color: $gris;
    border-radius: 10px;
    width: 500px;
    height: 340px;
    padding: 6px 10px 6px 10px;
}

#prix {
    display: block;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-family: "calibri-bold";
}

.imageproduit {
    height: auto;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 4px 0 0 1px;
}

button,
input,
#boutoncommander {
    border-radius: 5px;
    background-color: $rose;
    box-shadow: $box-shadow-v;
    color: white;
    padding: 10px;
    border: none;
    display: block;
    margin: auto;
}

button:hover,
input:hover,
#boutoncommander:hover {
    background-color: $violet;
    box-shadow: $box-shadow-r;
}

label {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 10px;
    color: $violet;
}

.quantity {
    display: flex;
    margin-top: 30px;
}

input#quantité {
    background-color: $violet;
    padding-left: 5px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-left: 5px $violet solid;
}

select {
    margin-top: 15px;
    font-size: .9rem;
    padding: 2px 5px;
    color: $blanc;
    background: $violet;
    box-shadow: $box-shadow-r;
}

/****** PAGE PANIER ******/

#panier {
    display: flex;
}

#paniergauche {
    border: $border2r;
    background-color: $gris;
    width: 62%;
    min-height: 532px;
    height: fit-content;
    border-radius: 20px;
    margin: 20px 0 20px 20px;
}

#lignecommande {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

#nomarticle,
#prixarticle,
#quantite,
#option {
    width: 20%;
}

#paniervide {
    color: $rose;
    font-size: x-large;
    text-align: center;
    font-family: "calibri-bold";
}

#panierdroite {
    border: $border2r;
    background-color: $gris;
    border-radius: 20px;
    margin: 20px 20px 20px 0;
    width: 35%;
    height: fit-content;
}

#prixtotal {
    margin: 40px;
    font-size: 20px;
    text-align: center;
}

/****** FORMULAIRE ******/

form {
    margin: 0 auto;
    padding: 10px;
}

form div+div {
    margin-top: 1em;
}

label {
    margin-left: 10px;
    width: 95px;
}

#formflex {
    display: flex;
    margin-top: 15px;
}

#boutoncommander {
    margin-top: 25px;
    padding: 20px;
    font-size: 17px;
}

#nom,
#prenom,
#ville,
#adresse,
#mail {
    width: 80%;
    margin-left: -20px;
    margin-right: 10px;
}

/**** PAGE CONFIRMATION COMMANDE ****/

#container-recapitulatif-commande {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 18px;
}

#retouracceuil {
    display: flex;
    justify-content: center;
    box-shadow: $box-shadow-r;
    background-color: $violet;
    padding: 15px;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 30px;
}

#retouracceuil i {
    margin-right: 10px;
}

#retouracceuil:hover {
    background-color: $rose;
    box-shadow: $box-shadow-v;
}

#idcommande {
    margin: auto;
    margin-bottom: 18px;
    border: 3px $violet solid;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

/****** PAGE ERREUR 404 ******/

#erreur404 {
    text-align: center;
}

.oups {
    font-size: 80px;
    color: $blanc;
}

.pagenotfound {
    font-size: 40px;
    margin-bottom: 40px;
    color: $blanc;
}

.fleche {
    font-size: 80px;
    color: $blanc;
}

.btnretour {
    box-shadow: $box-shadow-r;
    padding: 25px;
    font-size: 25px;
    border-radius: 50px;
}

.btnretour {
    background-color: $rose;
    box-shadow: $box-shadow-v;
}

.txtredirige {
    text-align: center;
    color: $blanc;
    margin-top: 45px;
    font-size: 20px;
}

#counter {
    text-align: center;
    color: $blanc;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding-left: 20px;
        margin: 0;
        padding: 0;
    }

    #produit {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .cartedesc {
        margin: 0;
        height: auto;
    }

    #cameras,
    #cameras2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
}

@media screen and (max-width: 770px) {
    h1 {
        margin-bottom: 10px;
    }

    .navliens {
        padding: 5px;
        margin: 0;
    }

    .liens {
        margin: 5px;
    }

    #cameras,
    #cameras2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    footer ul {
        padding: 10px;
        text-align: left;
        margin: 0;
    }

    footer li {
        text-align: center;
    }

    #panier {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #paniergauche {
        min-height: 170px;
    }

    #paniergauche,
    #panierdroite {
        width: 100%;
        margin: auto;
        height: fit-content;
    }

    #btnsuppr {
        margin-top: 10px;
        margin-bottom: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .navliens {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #lignecommande {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        margin-left: 80px;
    }

    #nomarticle,
    #prixarticle,
    #quantite,
    #option {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    h4 {
        margin-top: 1px;
    }
}