@charset "UTF-8";
@font-face {
  font-family: "calibri";
  src: url("../polices/calibri.ttf");
}

@font-face {
  font-family: "calibri-bold";
  src: url("../polices/calibri-bold.ttf");
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#c48913), to(#8014d2));
  background: linear-gradient(90deg, #c48913 0%, #8014d2 100%);
  margin: 0;
  font-family: "calibri";
}

.strong {
  font-family: "calibri-bold";
}

#logo img {
  height: 90px;
  width: 180px;
  border-radius: 20px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #8014d2;
  padding-right: 25px;
  padding-left: 50px;
  font-size: large;
  height: 90px;
}

.navliens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 25px 10px 10px 10px;
  font-size: 20px;
}

.liens, #retouracceuil {
  text-decoration: none;
  margin-left: 60px;
  color: white;
}

.liens:hover {
  color: #f79a44;
  cursor: pointer;
}

h1 {
  border: 1px transparent solid;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 5px 15px 5px 15px;
  border-radius: 0 0 30px 30px;
  background-color: #8014d2;
}

h2 {
  text-align: center;
  font-family: "calibri-bold";
}

h3 {
  font-family: "calibri-bold";
  color: #8014d2;
  text-align: center;
  border-bottom: 2px #a249aa solid;
  padding-bottom: 19px;
  border-radius: 20px;
  font-size: 20px;
}

h5 {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 50px;
}

#cameras {
  margin-top: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px #a249aa solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #CAC7C7;
}

.voirprod {
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 2px 2px #8014d2;
          box-shadow: 1px 2px 2px #8014d2;
  background-color: #a249aa;
  border-radius: 30px;
  width: 140px;
  margin: auto;
  margin-top: 10px;
  height: 30px;
  font-size: 18px;
  padding-top: 7px;
}

.voirprod:hover {
  background-color: #8014d2;
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
}

.image {
  height: auto;
  max-width: 100%;
  width: 350px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.carte-p {
  margin-top: 10px;
  text-align: center;
  color: #000000;
  font-size: 18px;
}

.carte-strong {
  text-align: center;
  font-size: 22px;
  font-family: "calibri-bold";
  color: #8014d2;
}

.carte a {
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  height: 40px;
  background-color: #8014d2;
  padding-bottom: 18px;
}

footer ul {
  list-style-type: none;
  padding-top: 5px;
  padding-right: 50px;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

footer :hover a {
  text-decoration: none;
  color: #f79a44;
}

/* Page details produit */
#produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartedesc {
  border: 2px #a249aa solid;
  margin-top: 100px;
  margin-bottom: 119px;
  background-color: #CAC7C7;
  border-radius: 10px;
  width: 500px;
  height: 340px;
  padding: 6px 10px 6px 10px;
}

#prix {
  display: block;
  padding-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-family: "calibri-bold";
}

.imageproduit {
  height: auto;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 4px 0 0 1px;
}

button,
input, #boutoncommander {
  border-radius: 5px;
  background-color: #a249aa;
  -webkit-box-shadow: 1px 2px 2px #8014d2;
          box-shadow: 1px 2px 2px #8014d2;
  color: white;
  padding: 10px;
  border: none;
  display: block;
  margin: auto;
}

button:hover,
input:hover, #boutoncommander:hover {
  background-color: #8014d2;
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
}

label {
  font-size: 1rem;
  font-weight: bold;
  padding-right: 10px;
  color: #8014d2;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

input#quantité {
  background-color: #8014d2;
  padding-left: 5px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-left: 5px #8014d2 solid;
}

select {
  margin-top: 15px;
  font-size: .9rem;
  padding: 2px 5px;
  color: #ffffff;
  background: #8014d2;
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
}

/* Page Erreur 404 */
#erreur404 {
  text-align: center;
}

.oups {
  font-size: 80px;
  color: #ffffff;
}

.pagenotfound {
  font-size: 40px;
  margin-bottom: 40px;
  color: #ffffff;
}

.fleche {
  font-size: 80px;
  color: #ffffff;
}

.btnretour {
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
  padding: 25px;
  font-size: 25px;
  border-radius: 50px;
}

.btnretour {
  background-color: #a249aa;
  -webkit-box-shadow: 1px 2px 2px #8014d2;
          box-shadow: 1px 2px 2px #8014d2;
}

.txtredirige {
  text-align: center;
  color: #ffffff;
  margin-top: 45px;
  font-size: 20px;
}

#counter {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

/* Page Panier */
#panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#paniergauche {
  border: 2px #a249aa solid;
  background-color: #CAC7C7;
  width: 62%;
  min-height: 532px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  margin: 20px 0 20px 20px;
}

#lignecommande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

#nomarticle, #prixarticle, #quantite, #option {
  width: 20%;
}

#paniervide {
  color: #a249aa;
  font-size: x-large;
  text-align: center;
  font-family: "calibri-bold";
}

#panierdroite {
  border: 2px #a249aa solid;
  background-color: #CAC7C7;
  border-radius: 20px;
  margin: 20px 20px 20px 0;
  width: 35%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#prixtotal {
  margin: 40px;
  font-size: 20px;
  text-align: center;
}

/*Formulaire*/
form {
  margin: 0 auto;
  padding: 10px;
}

form div + div {
  margin-top: 1em;
}

label {
  margin-left: 10px;
  width: 95px;
}

#formflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

#boutoncommander {
  margin-top: 25px;
  padding: 20px;
  font-size: 17px;
}

#nom, #prenom, #ville, #adresse, #mail {
  width: 80%;
  margin-left: -20px;
  margin-right: 10px;
}

#container-recapitulatif-commande {
  margin: auto;
  text-align: center;
  color: white;
  font-size: 18px;
}

#retouracceuil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
  background-color: #8014d2;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  font-size: 18px;
  border-radius: 30px;
}

#retouracceuil i {
  margin-right: 10px;
}

#retouracceuil:hover {
  background-color: #a249aa;
  -webkit-box-shadow: 1px 2px 2px #8014d2;
          box-shadow: 1px 2px 2px #8014d2;
}

#idcommande {
  margin: auto;
  margin-bottom: 18px;
  border: 3px #8014d2 solid;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 20px;
    margin: 0;
    padding: 0;
  }
  #produit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
  .cartedesc {
    margin: 0;
    height: auto;
  }
  #cameras,
  #cameras2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
}

@media screen and (max-width: 770px) {
  h1 {
    margin-bottom: 10px;
  }
  .navliens {
    padding: 5px;
    margin: 0;
  }
  .liens {
    margin: 5px;
  }
  #cameras,
  #cameras2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  footer ul {
    padding: 10px;
    text-align: left;
    margin: 0;
  }
  footer li {
    text-align: center;
  }
  #panier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #paniergauche {
    min-height: 170px;
  }
  #paniergauche, #panierdroite {
    width: 100%;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #btnsuppr {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .navliens {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #lignecommande {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 80px;
    margin-left: 80px;
  }
  #nomarticle, #prixarticle, #quantite, #option {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  h4 {
    margin-top: 1px;
  }
}
/*# sourceMappingURL=style.css.map */