@font-face {
  font-family: "calibri";
  src: url("../polices/calibri.ttf");
}

@font-face {
  font-family: "calibri-bold";
  src: url("../polices/calibri-bold.ttf");
}

$orange: #f79a44;
$orangedark:#ce5709;
$rose: #a249aa;
$violet:#8014d2;
$blanc: #ffffff;
$noir: #000000;
$gris:#CAC7C7;
$grisfonce:#929292e7;

$border2r: 2px $rose solid;

$box-shadow-r:1px 2px 2px $rose;
$box-shadow-v: 1px 2px 2px $violet;