@font-face {
  font-family: "calibri";
  src: url("polices/calibri.ttf");
}

@font-face {
  font-family: "calibri-bold";
  src: url("polices/calibri-bold.ttf");
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#c48913), to(#8014d2));
  background: linear-gradient(90deg, #c48913 0%, #8014d2 100%);
  margin: 0;
  font-family: "calibri";
}

.strong {
  font-family: "calibri-bold";
}

#logo img {
  height: 90px;
  width: 180px;
  border-radius: 20px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #8014d2;
  padding-right: 25px;
  padding-left: 50px;
  padding-right: 40px;
  font-size: large;
  height: 90px;
}

.navliens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 10px;
  font-size: 20px;
}

.liens {
  text-decoration: none;
  margin-left: 60px;
  color: white;
}

.liens:hover {
  color: #f79a44;
}

h1 {
  border: 1px transparent solid;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 5px 15px 5px 15px;
  border-radius: 0 0 30px 30px;
  background-color: #8014d2;
}

h2 {
  text-align: center;
  font-family: "calibri-bold";
}

#cameras,
#cameras2 {
  margin-top: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carte {
  border: 2px #a249aa solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #CAC7C7;
}

.voirprod {
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #a249aa;
  -webkit-box-shadow: 1px 2px 2px #8014d2;
          box-shadow: 1px 2px 2px #8014d2;
  background-color: #a249aa;
  border-radius: 30px;
  width: 140px;
  margin: auto;
  height: 40px;
  font-size: 18px;
}

.voirprod:hover {
  background-color: #8014d2;
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
}

.zurss50s, .pzurss50s {
  background-image: url(images/vcam_1.jpg);
}

.hirsch400dts, .phirsch400dts {
  background-image: url(images/vcam_2.jpg);
}

.franckjs105, .pfranckjs105 {
  background-image: url(images/vcam_3.jpg);
}

.kurostts, .pkurostts {
  background-image: url(images/vcam_4.jpg);
}

.katatone, .pkatatone {
  background-image: url(images/vcam_5.jpg);
}

.zurss50s,
.hirsch400dts,
.franckjs105,
.kurostts,
.katatone {
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.carte p {
  margin-top: 10px;
  text-align: center;
  color: black;
  font-size: 18px;
}

.carte strong {
  font-size: 22px;
  font-family: "calibri-bold";
  color: #8014d2;
}

.carte a {
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  height: 40px;
  background-color: #8014d2;
  padding-bottom: 18px;
}

footer ul {
  list-style-type: none;
  padding-top: 5px;
  padding-right: 50px;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

footer :hover a {
  text-decoration: none;
  color: #f79a44;
}

#produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartedesc {
  margin-top: 100px;
  margin-bottom: 122px;
  border: 2px #a249aa solid;
  background-color: #CAC7C7;
  border-radius: 10px;
  width: 500px;
  padding: 10px;
}

.cartedesc p strong {
  display: block;
  padding-top: 50px;
  font-size: 17px;
}

.pzurss50s, .phirsch400dts, .pfranckjs105, .pkurostts, .pkatatone {
  height: 330px;
  width: auto;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

button,
input {
  border-radius: 5px;
  background-color: #a249aa;
  color: white;
  padding: 10px;
  border: none;
  display: block;
  margin: auto;
}

button,
input:hover {
  background-color: #8014d2;
}

label {
  font-size: 1rem;
  font-weight: bold;
  padding-right: 10px;
  color: #8014d2;
}

select {
  margin-top: 15px;
  font-size: .9rem;
  padding: 2px 5px;
  color: #ffffff;
  background: #8014d2;
}

#erreur404 {
  text-align: center;
}

.oups {
  font-size: 80px;
  color: #ffffff;
}

.pagenotfound {
  font-size: 40px;
  margin-bottom: 40px;
  color: #ffffff;
}

.fleche {
  font-size: 80px;
  color: #ffffff;
}

.btnretour {
  border: 1px #a249aa solid;
  -webkit-box-shadow: 1px 2px 2px #a249aa;
          box-shadow: 1px 2px 2px #a249aa;
  padding: 25px;
  font-size: 25px;
  border-radius: 50px;
}

.btnretour:hover {
  background-color: #a249aa;
  -webkit-box-shadow: 1px 2px 2px #8014d2;
          box-shadow: 1px 2px 2px #8014d2;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding-left: 20px;
    margin: 0;
    padding: 0;
  }
  #cameras,
  #cameras2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 10px;
  }
  .navliens {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5px;
    margin: 0;
  }
  .liens {
    margin: 5px;
  }
  #produit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cartedesc {
    margin: 0;
  }
  #cameras,
  #cameras2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  footer ul {
    padding-right: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
  .navliens {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */