@font-face {
  font-family: "calibri";
  src: url("polices/calibri.ttf");
}

@font-face {
  font-family: "calibri-bold";
  src: url("polices/calibri-bold.ttf");
}

$orange: #f79a44;
$orangedark:#ce5709;
$rose: #a249aa;
$violet:#8014d2;
$blanc: #ffffff;
$noir:black;
$gris:#CAC7C7;
